{
  "arrowParens": "always",
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.svelte", "*.ts"],
      "options": {
        "svelteStrictMode": false,
        "svelteBracketNewLine": false,
        "svelteAllowShorthand": true,
        "svelteIndentScriptAndStyle": true,
        "svelteSortOrder": "options-scripts-styles-markup"
      }
    }
  ]
}
